name: Unit tests

on:
  push:
    branches:
      - main
    pull_request:
      types: [opened, reopened, synchronize]
    workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        compiler: ['gcc', 'clang']

    runs-on: ${{ matrix.os }}

    env:
        CC: ${{ matrix.compiler }}

    steps:
    - uses: actions/checkout@v4
    - name: Log compiler version
      run: |
        "$CC" --version
    - name: make test    # unit tests
      run: make test
    - name: make check   # unit and compatibility tests
      run: make check
